@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4rem;
  background: linear-gradient(135deg, white, #fff5f5);
}

.logo {
  padding-left: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.logo img {
  width: 28%;
}

.site-image {
  background-image: url("../images/hero-desktop.jpg");
  height: 300px;
  width: 100%;
  background-size: cover;
  margin-bottom: 3rem;
}

.body-header {
  text-align: center;
  color: #413a3a;
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 1rem;
  margin-bottom: 1.5rem;
}

.body-header span {
  color: #ce9797;
  font-weight: 300;
}

.body-article {
  padding: 0 2rem;
  margin-bottom: 1.8rem;
}

.body-article p {
  text-align: center;
  color: #ce9797;
  font-weight: 400;
  line-height: 1.4rem;
}

.body-form {
  padding: 0 2rem;
  width: 100%;
  position: relative;
}

.body-form input {
  width: 90%;
  height: 3rem;
  border-radius: 3rem;
  border: 1px solid #413a3a;
  color: #413a3a;
  border-color: #413a3a;
  background-color: inherit;
}

.body-form button {
  position: absolute;
  height: 3rem;
  right: 10%;
  width: 20%;
  background-color: #f96262;
  border-radius: 3rem;
  border: none;
}

.body-form button + img {
  position: absolute;
  right: 7rem;
  top: 0.5rem;
}

.hide {
  display: none;
}

.status {
  margin-top: 1rem;
  margin-left: 1rem;
}

@media screen and (min-width: 800px) {
  main {
    height: 100vh;
    width: 100vw;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[7];
        grid-template-columns: repeat(7, 1fr);
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: ". l l . s s s" ". . . . s s s" ". b b . s s s" ". b b . s s s" ". b b . s s s" ". . . . s s s";
  }
  .logo {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: l;
    padding: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .logo img {
    width: 35%;
  }
  .site-image {
    -ms-grid-row: 1;
    -ms-grid-row-span: 6;
    -ms-grid-column: 5;
    -ms-grid-column-span: 3;
    grid-area: s;
    background-image: url("../images/hero-desktop.jpg");
    height: 100%;
  }
  .body {
    -ms-grid-row: 3;
    -ms-grid-row-span: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: b;
  }
  .body-header {
    text-align: left;
    font-size: 1.6rem;
  }
  .body-article {
    padding: 0;
  }
  .body-article p {
    text-align: left;
  }
  .body-form {
    padding: 0;
  }
  .body-form button img {
    right: 8rem;
  }
}
/*# sourceMappingURL=main.css.map */